* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.search-container {
  text-align: center;
  width: 75%;
}

.search-container input:focus {
  border-color: #5372f0;
}

.search-container button {
  background-color:#b39afd;

}

.container {
  padding-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

#result img {
  margin: auto;
  max-width: 35%;
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
}

i{
  font-size: 50px;
  cursor: pointer;
  position: absolute; 
  left: 75%;
  top: 5%;
}